[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
pillow = "*"
langchain = "*"
openai = "*"
pydantic = "*"
langchain-community = "*"
langchain-openai = "*"
pypdf2 = "*"
pdf2image = "*"

[dev-packages]

[requires]
python_version = "3.12"
